@model IEnumerable<SistemaDeAgendamentoDeViagens.Models.Voo>

<body>
    <div class="main_index">
        <div class="container-fluid d-none d-lg-block">
            <div class="row" id="row-inical">
                <div class="col-md-6 " id="teste">
                    <span class="align-middle">Em algum lugar alguma coisa incrível está esperando para ser conhecida.</span>
                    <p class="text-right">Carl Sagan</p>
                </div>
                <div class="col-md-6">
                    <img src="~/css/img/cele.svg" width="100%" height="100%" />
                </div>

            </div>
        </div>
        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4">
                    <img src="~/css/img/500x500 -tomas-nozina-UP22zkjJGZo-unsplash.jpg" width="200" height="200" class="img-mar" />
                    <h2>Espanha</h2>
                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img src="~/css/img/500x500 - ryan-spencer-XGKaRnWjv1c-unsplash.jpg" width="200" height="200" class="img-mar" />
                    <h2>Grécia</h2>
                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                    
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img src="~/css/img/500x500-jack-ward-rknrvCrfS1k-unsplash.jpg" width="200" height="200" class="img-mar" />
                    <h2>Itália</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-6 d-none d-lg-block">
                    <h2 class="featurette-heading">Uma seleção de pacotes para suas próximas férias</h2>

                </div>
                <div class="col-lg-2 col-md-4 order-md-1">
                    <div class="card box-shadow" id="radius-pac">
                        <a class="pac-a" href="#">
                            <img id="img-pac" src="~/css/img/daniel-basso-KkvuOf2iKpE-unsplash.jpg" width="100%" height="50%" />
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 order-md-1  d-none d-md-block">
                    <div class="card box-shadow" id="radius-pac">
                        <a class="pac-a" href="#">
                            <img id="img-pac" src="~/css/img/shot-by-cerqueira-lri4DUnAUrI-unsplash.jpg" width="100%" height="50%" />
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 order-md-1  d-none d-md-block">
                    <div class="card box-shadow" id="radius-pac">
                        <a class="pac-a" href="#">
                            <img id="img-pac" src="~/css/img/sebastian-smith-V8YFNLZzy_8-unsplash.jpg" width="100%" height="50%" />
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-6 order-md-2 d-none d-lg-block">
                    <h2 class="featurette-heading">Ofertas de voos com preços arrasadores</h2>

                </div>

                <div class="col-lg-2 col-md-4 order-md-1">
                    <div class="card box-shadow" id="radius-pac">
                        <a class="pac-a" href="#">
                            <img id="img-pac" src="~/css/img/200x200-denys-nevozhai-guNIjIuUcgY-unsplash.jpg" width="100%" height="50%" />
                            <div class="card-body">

                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 order-md-1  d-none d-md-block">
                    <div class="card box-shadow" id="radius-pac">
                        <a class="pac-a" href="#">
                            <img id="img-pac" src="~/css/img/200x200-ishan-seefromthesky-KgCbvOWYuU0-unsplash.jpg" width="100%" height="50%" />
                            <div class="card-body">

                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 order-md-1  d-none d-md-block">
                    <div class="card box-shadow" id="radius-pac">
                        <a class="pac-a" href="#">
                            <img id="img-pac" src="~/css/img/200x200-shifaaz-shamoon-qtbV_8P_Ksk-unsplash.jpg" width="100%" height="50%" />
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-6 d-none d-lg-block">
                    <h2 class="featurette-heading">Encontre a hospedagem perfeita com os melhores preços</h2>
                </div>
                <div class="col-lg-2 col-md-4 order-md-1">
                    <div class="card box-shadow" id="radius-pac">
                        <a class="pac-a" href="#">
                            <img id="img-pac" src="~/css/img/sergey-pesterev-_VqyrvQi6do-unsplash (1).jpg" width="100%" height="50%" />
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 order-md-1  d-none d-md-block">
                    <div class="card box-shadow" id="radius-pac">
                        <a class="pac-a" href="#">
                            <img id="img-pac" src="~/css/img/ganapathy-kumar-L75D18aVal8-unsplash.jpg" width="100%" height="50%" />
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 order-md-1 d-none d-md-block">
                    <div class="card box-shadow" id="radius-pac">
                        <a class="pac-a" href="#">
                            <img id="img-pac" src="~/css/img/solotravelgoals-7kLufxYoqWk-unsplash.jpg" width="100%" height="50%" />
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </div>
</body>