@model SistemaDeAgendamentoDeViagens.Models.Voo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Voo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Origem_voo" class="control-label"></label>
                <input asp-for="Origem_voo" class="form-control" />
                <span asp-validation-for="Origem_voo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destino_voo" class="control-label"></label>
                <input asp-for="Destino_voo" class="form-control" />
                <span asp-validation-for="Destino_voo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao_voo" class="control-label"></label>
                <input asp-for="Descricao_voo" class="form-control" />
                <span asp-validation-for="Descricao_voo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_partida_voo" class="control-label"></label>
                <input asp-for="Data_partida_voo" class="form-control" />
                <span asp-validation-for="Data_partida_voo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_chegada_voo" class="control-label"></label>
                <input asp-for="Data_chegada_voo" class="form-control" />
                <span asp-validation-for="Data_chegada_voo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
