@model SistemaDeAgendamentoDeViagens.Models.Voo

@{
    ViewData["Title"] = "Delete";
}

<h1 style="margin-top: 5%;"></h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card text-center" id="form-card">
            <div class="card-header" id="form-capa">
                <h4> Deletar Voo</h4>
            </div>
            <div class="card-body">
                <h4 id="del-text">Nome</h4>
                <h3>
                    @Html.DisplayFor(model => model.Origem_voo)
                </h3>
                <h4 id="del-text">Data de nascimento</h4>
                <h3>
                    @Html.DisplayFor(model => model.Destino_voo)
                </h3>
                <h4 id="del-text">Sexo</h4>
                <h3>
                    @Html.DisplayNameFor(model => model.Data_partida_voo)
                </h3>
                <h4 id="del-text">CPF</h4>
                <h3>
                    @Html.DisplayFor(model => model.Data_chegada_voo)
                </h3>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="VooId" />
                    <input type="submit" value="Delete" class="btn btn-outline-primary btn-block" id="delete-btn" />
                    <a class="btn btn-outline-primary btn-block" id="form-btn" asp-action="Index">Cancelar</a>

                </form>
            </div>
        </div>
    </div>
</div>

