@model IEnumerable<SistemaDeAgendamentoDeViagens.Models.Voo>

@{
    ViewData["Title"] = "Index";
}
<div class="voo-criar">
    <p>
        <a class="btn btn-outline-primary" id="form-btn" asp-action="Create">Criar Novo</a>
    </p>
</div>

@foreach (var item in Model)
{

            </div>
        </div>

        <div class="col d-none d-lg-block">
            <img src="~/css/img/200x200-shifaaz-shamoon-qtbV_8P_Ksk-unsplash.jpg" alt="Alternate Text" height="210px" width="400px" />
        </div>
    </div>
}

