@model SistemaDeAgendamentoDeViagens.Models.Reserva

@{
    ViewData["Title"] = "Create";
}

            </div>
        </div>
    </div>
</div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
