@model SistemaDeAgendamentoDeViagens.Models.Reserva

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reserva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data_res" class="control-label"></label>
                <input asp-for="Data_res" class="form-control" />
                <span asp-validation-for="Data_res" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Linha_aer_res" class="control-label"></label>
                <input asp-for="Linha_aer_res" class="form-control" />
                <span asp-validation-for="Linha_aer_res" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco_res" class="control-label"></label>
                <input asp-for="Preco_res" class="form-control" />
                <span asp-validation-for="Preco_res" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VooId" class="control-label">Destino</label>
                <select asp-for="VooId" class="form-control" asp-items="@(new SelectList(ViewBag.Voos,"VooId", "Destino_voo"))">
                </select>
                <span asp-validation-for="VooId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassageiroId" class="control-label">Passaporte</label>
                <select asp-for="PassageiroId" class="form-control" asp-items="@(new SelectList(ViewBag.Passageiros,"PassageiroId", "Passaporte_pas"))">
                </select>
                <span asp-validation-for="PassageiroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
