@model SistemaDeAgendamentoDeViagens.Models.Reserva

@{
    ViewData["Title"] = "Create";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card text-center" id="form-card">
            <div class="card-header" id="form-capa">
                <h4> Novo Agendamento</h4>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label" id="form-texto">Data Agendamento</label>
                        <input asp-for="Data_res" class="form-control" />
                        <span asp-validation-for="Data_res" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" id="form-texto">Preço</label>
                        <input asp-for="Preco_res" class="form-control" />
                        <span asp-validation-for="Preco_res" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" id="form-texto">Voo</label>
                        <select asp-for="VooId" class="form-control" asp-items="@(new SelectList(ViewBag.Voos,"VooId", "Destino_voo"))">
                        </select>
                        <span asp-validation-for="VooId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" id="form-texto">Passageiro</label>
                        <select asp-for="PassageiroId" class="form-control" asp-items="@(new SelectList(ViewBag.Passageiros,"PassageiroId", "Passaporte_pas"))">
                        </select>
                        <span asp-validation-for="PassageiroId" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-primary btn-block" id="form-btn"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
