@model SistemaDeAgendamentoDeViagens.Models.Reserva

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main_index">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center" id="form-card">
                <div class="card-header" id="form-capa">
                    <h4> Editar Agendamento</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ReservaId" />
                        <div class="form-group">
                            <label class="control-label" id="form-texto">Data do agendemento</label>
                            <input asp-for="Data_res" class="form-control" />
                            <span asp-validation-for="Data_res" class="text-danger"></span>
                        </div>


            </div>
        </div>
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
